.friend {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 1em;
  column-gap: 7em;
}

.friendInfo {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  column-gap: 1em;
}

.text {
  display: flex;
  flex-direction: column;
  row-gap: 1em;
}
.imageContainer {
  height: 3.5em;
}
.image {
  height: 100%;
  object-fit: fill;
  border-radius: 3em;
}
