.friend {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.friendInfo {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.text {
  display: flex;
  flex-direction: column;
}
.imageContainer {
  border: 3em;
  width: 1.5em;
  height: 1.5em;
}
.image {
  width: 100%;
  object-fit: contain;
}
