.list,
.leftContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.leftContainer {
  padding: 1em;
  border: 1px solid black;
  border-radius: 1em;
}
.addFriendContainer {
  display: flex;
  flex-direction: column;
  padding: 1em;
  row-gap: 2em;
}
